<div id="sidebar" style="top: 0;">
  <header>
    <!-- insert portrait image -->
      <img class="profile-picture" src="/face.png" alt="Portrait" style="width:280px" class="center">
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        <center>{{ site.title }}</center>
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <center><p class="lead">Philosophy and A.I. Research</p></center>
    <!-- <p class="lead">{{ site.description }}</p> -->
  </header>
  {% include sidebar-nav-links.html %}

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  <!-- {% include copyright.html %} -->
</div>
